@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
  font-family: Arial, Helvetica, sans-serif;
}

input::-ms-clear {
  display: none;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1210px;
  padding: 0px 15px;
  margin: 0px auto;
}

.content {
  flex: 1 1 auto;
}

.title {
  font-size: 30px;
  color: #445161;
}

.hello {
  padding: 50px 0px;
  background-color: #475161;
}
.hello__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hello__body {
  color: white;
}
.hello__title {
  text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
  font-size: 59px;
  margin-bottom: 40px;
}
.hello__image {
  flex: 0 0 469px;
}
.hello__image img {
  max-width: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.hello__list {
  padding-right: 30px;
}
.hello__list li {
  text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
  font-size: 20px;
  margin-bottom: 15px;
  position: relative;
  padding-left: 35px;
  line-height: 1.2;
}
.hello__list li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 19px;
  top: 2px;
  left: 0;
  background: url("../img/hello/arrow.png") 0 0 no-repeat;
}
.hello__list li:last-child {
  margin-bottom: 0px;
}
@media (max-width: 900px) {
  .hello__row {
    flex-direction: column;
  }
  .hello__image {
    max-width: 469px;
    flex: none;
  }
  .hello__title {
    margin-bottom: 30px;
  }
  .hello__list {
    margin-bottom: 30px;
    padding-right: 0px;
  }
}
@media (max-width: 768px) {
  .hello__title {
    font-size: 45px;
  }
}
@media (max-width: 540px) {
  .hello {
    padding: 35px 0px;
  }
  .hello__title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
  }
}

.what {
  padding: 50px 0px;
}
.what__row {
  display: flex;
}
.what__image {
  flex: 0 0 430px;
}
.what__image img {
  max-width: 100%;
}
.what__body {
  flex: 1 1 auto;
  padding: 0px 45px 0px 36px;
}
.what__title {
  margin-bottom: 26px;
}
.what__text p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
.what__text p:first-child {
  margin-bottom: 25px;
}
@media (max-width: 900px) {
  .what {
    padding: 35px 0px;
  }
  .what__row {
    flex-direction: column;
    align-items: center;
  }
  .what__image {
    flex: none;
    max-width: 430px;
    margin-bottom: 15px;
  }
  .what__body {
    padding: 0px;
  }
  .what__title {
    text-align: center;
    margin-bottom: 15px;
  }
  .what__text p:first-child {
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .what__title {
    margin: 0px 0px 7px 0px;
  }
  .what__text p:first-child {
    margin: 0px 0px 7px 0px;
  }
}
@media (max-width: 570px) {
  .what__text {
    text-align: justify;
  }
}

.columns {
  padding: 50px 0px 25px;
  background-color: #f5f5f5;
}
.columns__header {
  text-align: center;
  margin-bottom: 30px;
}
.columns__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -7.5px;
}
.columns__column {
  flex: 0 1 50%;
  padding: 0 7.5px;
  display: flex;
  margin: 0px 0px 25px 0px;
}
.columns__image {
  flex: 0 0 200px;
  align-self: center;
}
.columns__image img {
  max-width: 100%;
}
.columns__body {
  margin: 0px 0px 0px 15px;
}
.columns__title {
  font-size: 24px;
  color: #445161;
  margin: 0px 0px 10px 0px;
}
.columns__text {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
@media (max-width: 1160px) {
  .columns__column {
    flex: 0 1 100%;
  }
}
@media (max-width: 768px) {
  .columns {
    padding: 25px 0px 0px;
  }
  .columns__header {
    margin: 0px 0px 22px 0px;
  }
}
@media (max-width: 600px) {
  .columns__column {
    flex-direction: column;
  }
  .columns__body {
    order: 1;
    margin: 0px 0px 15px 0px;
  }
  .columns__title {
    text-align: center;
  }
  .columns__text {
    text-align: justify;
  }
  .columns__image {
    order: 2;
    flex: none;
  }
}
@media (max-width: 435px) {
  .columns__header {
    margin: 0px 0px 15px 0px;
  }
  .columns__title {
    line-height: 1.1;
    margin: 0px 0px 7px 0px;
  }
}

.vertical {
  padding: 50px 0px;
}
.vertical__cnt {
  max-width: 990px;
  margin: 0 auto;
}
.vertical__title {
  text-align: center;
  margin: 0px 0px 29px 0px;
}
.vertical__row {
  display: flex;
  margin: 0 -22.5px;
}
.vertical__column {
  flex: 0 1 33.333%;
  padding: 0 22.5px;
  display: flex;
}
.vertical__card {
  background-color: #475161;
  color: white;
  border-radius: 5px;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
}
.vertical__label {
  text-align: center;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  margin: 0px 0px 12px 0px;
}
.vertical__subtitle {
  text-align: center;
  height: 70px;
  line-height: 60px;
  font-size: 40px;
  text-align: center;
  color: #445162;
  background-color: white;
  border: 2px solid #445162;
}
.vertical__text {
  padding: 20px 30px 20px 20px;
  font-size: 14px;
  line-height: 1.71;
  flex: 1 1 auto;
}
.vertical__text p:first-child {
  margin: 0px 0px 25px 0px;
}
.vertical__text p:last-child {
  margin: 0px 0px 0px 0px;
}
.vertical__btn {
  display: block;
  text-align: center;
  margin: 0 20px;
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  color: #445161;
  font-weight: 700;
  border-radius: 5px;
}
@media (max-width: 950px) {
  .vertical__row {
    flex-wrap: wrap-reverse;
    margin: 0 -10px;
    justify-content: center;
  }
  .vertical__column {
    flex: 0 1 50%;
    margin: 0px 0px 15px 0px;
    padding: 0 10px;
    max-width: 330px;
  }
  .vertical__column:first-child {
    order: 3;
  }
  .vertical__column:nth-child(2) {
    order: 2;
  }
  .vertical__column:last-child {
    order: 1;
  }
}
@media (max-width: 768px) {
  .vertical {
    padding: 35px 0px;
  }
}
@media (max-width: 649px) {
  .vertical__row {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .vertical__column {
    margin: 0px 0px 15px 0px;
    padding-left: 0;
    padding-right: 0;
  }
  .vertical__column:first-child {
    order: 3;
  }
  .vertical__column:nth-child(2) {
    order: 1;
  }
  .vertical__column:last-child {
    order: 2;
  }
}
@media (max-width: 425px) {
  .vertical {
    padding: 25px 0px;
  }
  .vertical__title {
    margin: 0px 0px 25px 0px;
  }
}

.footer {
  background-color: #f5f5f5;
}
.footer__row {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__text {
  font-size: 12px;
  letter-spacing: 0.3px;
  color: #445162;
}