@import "_null";

// Main box
.wrapper {
   overflow: hidden;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

// Container
.container {
   max-width: 1210px;
   padding: 0px 15px;
   margin: 0px auto;
}

// Main content
.content {
   flex: 1 1 auto;
}

// Title
.title {
   font-size: 30px;
   color: #445161;
}

// Hello section
.hello {
   padding: 50px 0px;
   background-color: #475161;
   &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__body {
      color: white;
   }

   &__title {
      text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
      font-size: 59px;
      margin-bottom: 40px;
   }

   &__image {
      flex: 0 0 469px;
      img {
         max-width: 100%;
         border-radius: 20px;
         overflow: hidden;
      }
   }

   &__list {
      padding-right: 30px;
      li {
         text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
         font-size: 20px;
         margin-bottom: 15px;
         position: relative;
         padding-left: 35px;
         line-height: 1.2;
         &::before {
            content: "";
            position: absolute;
            width: 25px;
            height: 19px;
            top: 2px;
            left: 0;
            background: url("../img/hello/arrow.png") 0 0 no-repeat;
         }
         &:last-child {
            margin-bottom: 0px;
         }
      }
   }

   @media (max-width: 900px) {
      &__row {
         flex-direction: column;
      }

      &__image {
         max-width: 469px;
         flex: none;
      }

      &__title {
         margin-bottom: 30px;
      }

      &__list {
         margin-bottom: 30px;
         padding-right: 0px;
      }
   }

   @media (max-width: 768px) {
      &__title {
         font-size: 45px;
      }
   }

   @media (max-width: 540px) {
      padding: 35px 0px;
      &__title {
         text-align: center;
         font-size: 40px;
         margin-bottom: 20px;
      }
   }
}

// What section
.what {
   padding: 50px 0px;
   &__row {
      display: flex;
   }

   &__image {
      flex: 0 0 430px;
      img {
         max-width: 100%;
      }
   }

   &__body {
      flex: 1 1 auto;
      padding: 0px 45px 0px 36px;
   }

   &__title {
      margin-bottom: 26px;
   }

   &__text {
      p {
         font-size: 16px;
         line-height: 1.5;
         color: #333;
         &:first-child {
            margin-bottom: 25px;
         }
      }
   }

   @media (max-width: 900px) {
      padding: 35px 0px;
      &__row {
         flex-direction: column;
         align-items: center;
      }

      &__image {
         flex: none;
         max-width: 430px;
         margin-bottom: 15px;
      }

      &__body {
         padding: 0px;
      }

      &__title {
         text-align: center;
         margin-bottom: 15px;
      }

      &__text {
         p {
            &:first-child {
               margin-bottom: 15px;
            }
         }
      }
   }

   @media (max-width: 768px) {
      &__title {
         margin: 0px 0px 7px 0px;
      }

      &__text {
         p {
            &:first-child {
               margin: 0px 0px 7px 0px;
            }
         }
      }
   }

   @media (max-width: 570px) {
      &__text {
         text-align: justify;
      }
   }
}

// Columns section
.columns {
   padding: 50px 0px 25px;
   background-color: #f5f5f5;
   &__header {
      text-align: center;
      margin-bottom: 30px;
   }

   &__row {
      display: flex;
      flex-wrap: wrap;
      margin: 0px -7.5px;
   }

   &__column {
      flex: 0 1 50%;
      padding: 0 7.5px;
      display: flex;
      margin: 0px 0px 25px 0px;
   }

   &__image {
      flex: 0 0 200px;
      align-self: center;
      img {
         max-width: 100%;
      }
   }

   &__body {
      margin: 0px 0px 0px 15px;
   }

   &__title {
      font-size: 24px;
      color: #445161;
      margin: 0px 0px 10px 0px;
   }

   &__text {
      font-size: 16px;
      line-height: 1.5;
      color: #333;
   }

   @media (max-width: 1160px) {
      &__column {
         flex: 0 1 100%;
      }
   }

   @media (max-width: 768px) {
      padding: 25px 0px 0px;

      &__header {
         margin: 0px 0px 22px 0px;
      }
   }

   @media (max-width: 600px) {
      &__column {
         flex-direction: column;
      }
      &__body {
         order: 1;
         margin: 0px 0px 15px 0px;
      }

      &__title {
         text-align: center;
      }

      &__text {
         text-align: justify;
      }

      &__image {
         order: 2;
         flex: none;
      }
   }

   @media (max-width: 435px) {
      &__header {
         margin: 0px 0px 15px 0px;
      }

      &__title {
         line-height: 1.1;
         margin: 0px 0px 7px 0px;
      }
   }
}

// Vertical setion
.vertical {
   padding: 50px 0px;
   &__cnt {
      max-width: 990px;
      margin: 0 auto;
   }

   &__title {
      text-align: center;
      margin: 0px 0px 29px 0px;
   }

   &__row {
      display: flex;
      margin: 0 -22.5px;
   }

   &__column {
      flex: 0 1 33.333%;
      padding: 0 22.5px;
      display: flex;
   }

   &__card {
      background-color: #475161;
      color: white;
      border-radius: 5px;
      padding: 20px 0px;
      display: flex;
      flex-direction: column;
   }

   &__label {
      text-align: center;
      font-size: 24px;
      color: #fff;
      text-transform: uppercase;
      margin: 0px 0px 12px 0px;
   }

   &__subtitle {
      text-align: center;
      height: 70px;
      line-height: 60px;
      font-size: 40px;
      text-align: center;
      color: #445162;
      background-color: white;
      border: 2px solid #445162;
   }

   &__text {
      padding: 20px 30px 20px 20px;
      font-size: 14px;
      line-height: 1.71;
      flex: 1 1 auto;
      p {
         &:first-child {
            margin: 0px 0px 25px 0px;
         }
         &:last-child {
            margin: 0px 0px 0px 0px;
         }
      }
   }

   &__btn {
      display: block;
      text-align: center;
      margin: 0 20px;
      background-color: #fff;
      height: 40px;
      line-height: 40px;
      font-size: 18px;
      color: #445161;
      font-weight: 700;
      border-radius: 5px;
   }

   @media (max-width: 950px) {
      &__row {
         flex-wrap: wrap-reverse;
         margin: 0 -10px;
         justify-content: center;
      }

      &__column {
         flex: 0 1 50%;
         margin: 0px 0px 15px 0px;
         padding: 0 10px;
         max-width: 330px;
         &:first-child {
            order: 3;
         }
         &:nth-child(2) {
            order: 2;
         }
         &:last-child {
            order: 1;
         }
      }
   }

   @media (max-width: 768px) {
      padding: 35px 0px;
   }

   @media (max-width: 649px) {
      &__row {
         flex-direction: column;
         align-items: center;
         margin: 0;
      }

      &__column {
         margin: 0px 0px 15px 0px;
         padding-left: 0;
         padding-right: 0;
         &:first-child {
            order: 3;
         }
         &:nth-child(2) {
            order: 1;
         }
         &:last-child {
            order: 2;
         }
      }
   }

   @media (max-width: 425px) {
      padding: 25px 0px;

      &__title {
         margin: 0px 0px 25px 0px;
      }
   }
}

// footer
.footer {
   background-color: #f5f5f5;
   &__row {
      height: 65px;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__text {
      font-size: 12px;
      letter-spacing: 0.3px;
      color: #445162;
   }
}
